.grid-productos {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-columns: repeat(2,1fr);
    grid-template-areas:
        "filtros productos"
        ".       productos";
    margin: 50px 0px;
    transition: 0.3s;
}
.filtros-section{
    grid-area: filtros;
    margin: 15px 0px 0px 15px;
    padding-bottom: 40px;
    border-radius: 10px;
    background: #f2f2f2;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.filtros-section p{
margin: 20px;
color: #0b0b0b;
font-weight: bold;
text-align: center;
}

.filtros-section ul{
    list-style-type: none;
    padding-left:20px;
    cursor: pointer;
}

.filtro{
    margin-top: 20px;
}

.filtro:hover{
    transition: 0.15s;
    color: darkslategrey

}

.flex-productos{
    grid-area: productos;
}

@media(max-width: 1400px)
{

    .grid-productos {
        grid-template-columns: 3fr 11fr;

    }
}

@media(max-width: 1200px)
{

    .grid-productos {
        grid-template-columns: 1fr 3fr;

    }
}
@media(max-width: 1000px)
{

    .grid-productos {
        grid-template-areas:
        "filtros filtros"
        "productos productos";
    }

    .filtros-section{
        margin: 15px;
    }

    .filtros-section ul{
        display: flex;
        flex-wrap: wrap;

    }
    .filtro{
        display: none;
        margin: 5px;
    }
    .filtros-section:hover .filtro{
        display: flex;
    }
}
