

footer {
	box-shadow: 0px -0.4px 15px 1px rgb(0, 0, 0);
	height: 250px;
	width: 100%;
	background-color: $background-color3;
	position: absolute;
}

.footer-izquierda {
	padding-top: 2vw;
	font-size: 2vh;
	padding-left: 2vh;
	color: $color8;
	transition: 0s;
}

@media (max-width: 800px) {

	.footer-izquierda {
		p {
			font-size: 20px;
		}
	}
}