@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap";

$fuente1: Proxima Nova, Helvetica, Neue, Helvetica, Roboto, Arial, sans-serif;
$fuente2: sans-serif;
$fuente3: 'Roboto Slab', serif;